.km-menu-toggle{
	color:#fff;
	top:0;
	width: 74px;
	font-size: 40px;
	text-align: center;
}

/*small*/
@media (max-width: 480px) {
	.km-testimonials-row .left-comment{
		margin-left:0;
	}
	.km-contact-row .km-footer-menu,
	.km-subscribe-content{
		padding-left:0;
		margin-top:30px;
	}
	.km-testimonials-row .ba-grid{
		margin-bottom:50px;
	}


}
/*medium*/
@media (min-width: 768px) {


}
/*large*/
@media (min-width: 960px) {
	.km-menu-toggle{
		display:none;
	}
}
@media (max-width: 959px){

	.km-top-nav ul{
	position:fixed;
	top: 100px;
	left:0;
	bottom:0;
	-moz-transition: -moz-transform .4s, right .4s ease-in;
	-webkit-transition:	-webkit-transform .4s, right .4s ease-in;
	transition:	transform .4s, right .4s ease-in;
}
	.km-top-nav ul{

		width: 242px;
		background: #323b43;
		z-index: 999;
		padding:20px;
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	.km-top-nav ul {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	.km-top-nav ul li{
		float:none;

	}
	.km-top-nav ul li a{

		line-height: 2;
		height: auto;
		padding: 0 0 20px;
	}
	.km-top-nav .logo{
		font-size: 14px;
		color: rgba( 255, 255, 255, 0.6 )
	}
	.ba-container{
		padding:0 20px;
	}
	.km-contact-row  .km-menu-list{
		padding-right:30px;
		border-left:none;
		border-right:none;

	}
	.km-subscribe-content{
		padding-left:0;
	}
	.km-subscribe-content{
		width:50%;
	}
}

@media (min-width: 1220px) {

}