
/*small*/
@media (max-width: 480px) {

	.km-contact-row .km-footer-menu,
	.km-subscribe-content{
		padding-left:0;
		margin-top:30px;
	}
	.km-testimonials-row .ba-grid{
		margin-bottom:50px;
	}




}
/*medium*/


@media (max-width: 768px){
	.km-testimonials-row .km-comment-content{
		margin-left:auto;
		margin-right:auto;
	}
	.km-testimonials-row .ba-grid > [class*="ba-width"]{
		float:none;
	}
	.km-testimonials-row .name-content{
		right:-10px;
	}

	.km-contact-row .ba-width-medium-1-4,
	.km-contact-row .ba-width-medium-1-2{
		margin-left:auto;
		margin-right:auto;
		text-align: center;
	}
	.km-contact-row .ba-grid > [class*="ba-width"]{
		float:none;

	}
	.km-contact-row .km-footer-menu{
		padding-left: 30px;
		margin-bottom:20px;
		margin-top:20px;
	}

	.km-subscribe-content {
		margin:auto;
	}
	.km-contact-row .km-menu-list{
		height:100%;
	}
	.km-contact-row  .km-menu-list{
		margin-top:30px;
		height:100%;
	}
	.km-submit-arrow{
	display:none;
	}
	.km-subscribe-content{
		margin:auto;
		text-align:left;
	}
	.km-email-field{
		width:100%;
	}

}
/*large*/
@media (min-width: 960px) {



}

@media (max-width: 959px){
	.km-top-nav{
		padding-top:20px;
	}
	nav ul li {
		display: block;
		height:28px;

	}
	nav ul{
		margin-bottom:50px;
	}

	.km-top-nav .logo{
		font-size: 14px;
	}
	.km-svg{
		margin-top:70px;
	}
	.ba-container,
	.ba-container-special{
		padding:0 20px;
	}
	.km-testimonials-row .km-comment-content,
	.km-contact-row .km-comment-content{
		margin-left:auto;
		margin-right:auto;
	}
	.km-testimonials-row .km-comment-content{
	margin-bottom:30px;
	}
	.km-testimonials-row .ba-grid > [class*="ba-width"],
	.km-contact-row .ba-grid > [class*="ba-width"]{
		float:none;
	}
	.km-testimonials-row .name-content{
		right:-10px;
	}

	.km-subscribe-content {
		margin:auto;
	}
	.km-contact-row .km-menu-list{
		padding-right:30px;
		border-left:none;
		border-right:none;
		border-top:1px dotted #a1a1a1;
		border-bottom:1px dotted #a1a1a1;
		width:60%;

	}
	.km-subscribe-content{
		padding-left:0;
	}
	.km-subscribe-content{
		width:100%;
	}

	.km-contact-row .ba-width-medium-1-4,
	.km-contact-row .ba-width-medium-1-2{
		margin-left:auto;
		margin-right:auto;
		text-align: center;
	}
	.km-contact-row .ba-grid > [class*="ba-width"]{
		float:none;

	}
	.km-contact-row .km-footer-menu{
		padding-left: 30px;
		margin-bottom:20px;
		margin-top:20px;
	}

	.km-subscribe-content {
		margin:auto;
	}
	.km-contact-row .km-menu-list{
		height:100%;
	}
	.km-contact-row  .km-menu-list{
		margin-top:30px;
		height:100%;
	}
	.km-submit-arrow{
		display:none;
	}
	.km-subscribe-content{
		margin:auto;
		text-align:left;
	}
	.km-email-field{
		width:100%;
	}
}


@media (min-width: 1220px) {

}
